* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-size: 14px;
	line-height: 30px;
	color: #777;
}

.container {
	width: 650px;
	margin: 0 auto;
	position: relative;
}

#htmlForm input[type="text"],
#htmlForm input[type="email"],
#htmlForm button[type="submit"] {
	font: 400 15px/18px "Roboto", sans-serif;
}

#htmlForm {
	background: #f9f9f9;
	padding: 25px;
	margin: 150px 0;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#htmlForm h3 {
	display: block;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 10px;
}

fieldset {
	/*!important keywords overrides*/
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#htmlForm input[type="text"],
#htmlForm input[type="email"] {
	width: 100%;
	border: 1px solid #ccc;
	background: #fff;
	margin: 0 0 5px;
	padding: 10px;
}

#htmlForm input[type="text"]:hover,
#htmlForm input[type="email"]:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #aaa;
}

#htmlForm button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #4caf50;
	color: #fff;
	margin: 0 0 5px;
	padding: 10px;
	font-size: 15px;
}

#htmlForm button[type="submit"]:hover {
	background: #43a047;
}

#htmlForm button[type="submit"]:active {
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#htmlForm input:focus {
	outline: 0;
	border: 1px solid #aaa;
}
